<html>
  <head>
    <title>Kamera</title>
  </head>
  <body>
    <div>
      <img id="preview" src="{{ img }}" />
    </div>
    <div style="margin-top: 10px">
      <button id="take">Simpan Gambar</button>
      <p id="path"></p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        function move() {
          $.ajax({
            url: "/get_picture",
            success: function (response) {
              $("#preview").attr("src", response.data);
              setTimeout(move, 50);
            },
            error: function (response) {
              console.log("err", response);
            },
          });
        }
        move();

        $("#take").click(function () {
          $.ajax({
            url: "/take_picture",
            success: function (response) {
              $("#path").html("saved to: " + response.data);
            },
            error: function (response) {
              console.log("err", response);
            },
          });
        });
      });
    </script>
  </body>
</html>
